body{
   background-color: #343434;
   color:white;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


// .svgimg
// {

//    display: flex;
//    align-items: center;
//    align-content: center;
//    width: 900px;
//    height:200px;
// }